body {
  padding:0px 10px; 
}


h1 {
  font-size: 300%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 40px;
  text-align: center;
  background-image: url("IMG_20200510_090516.JPG");
}

h2 {
   font-size: 200%; 
   text-transform: uppercase;
   padding: 10px 50px; 
   background-color:#AFDCF2;
   clear: both;
}

p {
  font-size: 120%; 
  padding: 0px 80px;
}

a:link{
  background-color:#FFFFFF;
}

a:hover {
  background-color:#AFDCF2;
  }

.left {float: left; 
  width:50%;
  display:inline-block;}

.right {float: left;
  width:50%;
  display:inline-block;}

img {padding:1% 5%;
margin-left: 80px;}

embed {padding: 1% 3%;
margin-left: 80px;}

audio {padding: 1%;
margin-left: 80px;}

video {padding: 1% 5%;
margin-left: 80px;}

.ul {padding:1% 5%;
margin-left: 80px;
text-size: 120%;}

.ani{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation: example 4s infinite;
}

@keyframes example {
  0%   {background-color:red; left:200px; top:0px;}
  25%  {background-color:yellow; left:400px; top:0px;}
  50%  {background-color:blue; left:600px; top:0px;}
  75%  {background-color:green; left:400px; top:0px;}
  100% {background-color:red; left:200px; top:0px;}
}